@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.img-overlay-wrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
  }  
  .img-overlay-wrap img { /* <= optional, for responsiveness */
     display: block;
     max-width: 100%;
     height: auto;
  }  
  .img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  .dice{
    max-width: 45%;
    border:1px solid black;
    left: 10px;
    top: 10px;
    position: relative;
  }
  .container{
    width: 600px;
    height: 670px;
    top: -1350px;
    left: 800px;
    position: relative;
    transition: transform 150ms ease-in-out;
  }
  .content{
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn-roll, .btn-pass{
    border:1px solid black;
    position: relative;
    top: 10%;
    left: 15%;
    background-color: #00a516;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.2s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }  
  .btn-roll:hover {background-color: #006e0f;}
  .btn-roll:active {
    background-color: #00580c;
    box-shadow: 0 5px black;
    transform: translateY(4px);
  }
  .hitbox:hover{
    fill:olive;    
  }
  #middle:hover{
    fill:tomato;
  }
  #middle:hover, .hitbox:hover{    
    stroke:navy;
    stroke-opacity: 0.05;
    fill-opacity: 0.2;
  }
  [id="26"], [id="27"]{
    width: 18px;
    height:221px;
    stroke: rgb(34, 34, 34);
  }
  .outer-cells{
    top:0;
    left:0;
    position:absolute;
  }
  .outer-checkers{
    position: relative;
  }
  .checker{
    stroke:red;
    stroke-width:0.2;
    r: 7.28333;
  }
  #board .checker{
    r: 6.5;
  }